body{
    .contenedor{
        display: grid;
        grid-template-columns: 500px 1fr 1fr;
        grid-template-rows: 94px 700px  120px 1fr;
        grid-template-areas:
        "caja1  caja1   caja1"
        "caja2  caja3   caja3"
        "caja4  caja4   caja4"
        "caja5  caja5   caja5"
        ;
        .caja1{
            grid-area: caja1;
            font-size: 20px;
           
        }
    }
}