@media screen and ( max-width: 480px) {
body{
    .contenedor{
        display: flex;
        flex-direction: column;
    }
}
body{
    .contenedor2{
        display: flex;
        flex-direction: column;
        .cajas2{
            .cards-wrapperd{
                .card{
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                }
            }
        }
    }
}
}