@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*** Inicio***/
.contenedor{
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    grid-template-rows: 94px 700px  120px;
    grid-template-areas:
    "caja1  caja1   caja1"
    "caja2  caja3   caja3"
    "caja4  caja4   caja4"
    ;
}
.caja1{
    grid-area: caja1;
    font-size: 20px;
   
}
.caja2{
    grid-area: caja2;
    text-align: center;
}
.caja3{
    grid-area: caja3;
    text-align: center;
    display: flex;
    align-items: center;
}
.caja4{
    grid-area: caja4;
    background-color: orange;
    
}

body{
    background-color: #FBE1BB ;
}
.ini{
    width: 200px;
    color: orangered;
    display: inline-block;
    margin: 6%;
}
.ini a{
    color: orangered;
}
.ini_imagen{ 
    width: 100%;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
.nuestro{
    color: orangered;
    font-size: 30px;

}
/*** HEADER***/
h1{
    color: #7B7779;
    background-color:orangered;
}
header{
    width: 100%;
}
/*** MENU***/
.menu{
  color:beige;
 list-style-type: none;
 font-size: 20px;
 padding-inline: 350px;
 background-color: #A57E4A;
 height: 50px;
 
}
.menu li{
display: inline;
margin-right: 10px;

}
.menu li a{
    color:beige;
}
/*** Footer***/
.footer{
    color: beige;
    font-size: 20px;
}
/*** Productos***/
.contenedor2{
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 94px 190vh;
    grid-template-areas:
    "cajas1  cajas1"
    "cajas2  cajas2"
    "cajas3  cajas3"
    ;
}

.cajas1{
    grid-area: cajas1;
    background-color: #FBE1BB;
    font-size: 20px;
}
.cajas2{
    grid-area: cajas2;
    background-color: #FBE1BB;
}
.cajas3{
    grid-area: cajas3;
    background-color: orange;
    font-size: 20px;
    
}


.cards-wrapperd{
 display: flex;
justify-content: center;
justify-items: center;
justify-content: space-around;
border-radius: 20px;
}
.card{
    margin: 0 .5em;
    width: calc(100%/5);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-body{
    background-color: rgb(255, 195, 146);
    border-radius: 5px;
   
}

.titulo{
    color: orangered;
    font-size: 30px;
}
h3{
    color: rgb(255, 255, 255);
}
h2{
    color: orangered;
    text-align:center;
}


/*** Animaciones***/
.caja1,nav{
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
}
.ini_imagen:hover{
    transform: scale(1.1);
}
.card{
    transition: all 1s;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
/*** Media query***/

@media screen and (max-width: 480px){

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100vw;
        }
        .contenedor2{
            display: flex;
            flex-direction: column;
        }
        fieldset{
            color: orangered;
            width: 30vw;
        }
        form{
            width: 30vw;
        }
}}